fastapi
uvicorn
gunicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
google-generativeai
pydantic
pydantic-settings
python-dotenv
requests
aiohttp
aiofiles
jinja2
watchfiles
pytesseract
Pillow
pymupdf
